.book-details-container {
  display: flex;
  text-indent: 3px;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-cover-container {
  flex: 1;
  max-width: 550px; /* Increased width */
}
@media  screen and (max-width:450px) {
  .book-details-container{
    display: block;
  }
  
}
@media  screen and (max-width:780px) {
  .book-details-container{
    display: block;
  }
  
}

.book-cover-image, .placeholder-cover {
  width: 400px;
  height: 400px; 
 
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.placeholder-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-information {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.book-information h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.book-information ul {
  list-style: none;
  padding: 0;
}

.book-information li {
  margin-bottom: 8px;
  font-size: 1rem;
}

.book-information li strong {
  color: #555;
}
